.DS_Store
node_modules
# webpack generate files
assets/javascripts/main.js
assets/javascripts/main.js.*
assets/javascripts/*.png
assets/javascripts/*.svg
assets/javascripts/*.ttf
assets/javascripts/*.eot
assets/javascripts/*.woff2
assets/javascripts/*.woff


