<% if (@project.nil? or @project.module_enabled?(:gtt)) &&
      ((@issue.new_record? && User.current.allowed_to?(:add_issues, @issue.project)) ||
        User.current.allowed_to?(:edit_issues, @issue.project))
%>
<div class="box">
  <%= f.hidden_field(:geom, :value => @issue.geojson, :id => 'geom') %>

  <%= content_tag(:div, "", :data => {
      :geom => @issue.geojson,
      :bounds => @project.geojson,
      :layers => @project.gtt_tile_sources,
      :edit => 'Point LineString Polygon'
    }, :id => 'ol-' + rand(36**8).to_s(36), :class => 'ol-map')
  %>
</div>
<% end %>
