<div id="dialog-geojson-upload" title="<%= l(:title_geojson_upload) %>" style="display:none;">
  <textarea placeholder="<%= l(:placeholder_geojson_upload) %>" class="ui-widget ui-state-default ui-corner-all"></textarea>
  <input type="file" id="file-selector" accept=".json,.geojson">
</div>
