@font-face {
  font-family: "custom-icons";
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("./custom-icons.woff2?1109fa2dad74e02707a8301474f34d5d") format("woff2");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
  font-family: custom-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga";
}

.icon-lobsta:before {
  content: "\f101";
}
.icon-park-bench:before {
  content: "\f102";
}
.icon-road:before {
  content: "\f103";
}
.icon-waste:before {
  content: "\f104";
}
