<p>
  <%= content_tag(:label, l(:gtt_settings_geocoder_url)) %>
  <%= text_field_tag('settings[default_geocoder_url]',
      @settings['default_geocoder_url'],
      :size => 80) %>
</p>

<p>
  <%= content_tag(:label, l(:gtt_settings_geocoder_apikey)) %>
  <%= text_field_tag('settings[default_geocoder_apikey]',
      @settings['default_geocoder_apikey'],
      :size => 80) %>
</p>
