<%= title [l(:label_gtt_tile_source_plural), gtt_tile_sources_path], @tile_source.name %>

<%= labelled_form_for :tile_source, @tile_source, url: gtt_tile_source_path(@tile_source), method: :patch do |f| %>
  <%= render partial: 'form', locals: { f: f } %>
  <p>
    <%= submit_tag l :button_save %>
  </p>
<% end %>


