<% if @project.nil? or @project.module_enabled?(:gtt) %>
  <% if @issue.geom.present? or !Setting.plugin_redmine_gtt['hide_map_for_invalid_geom'] %>
    <%= map_tag map: @issue.map,
                geom: (@issue.as_geojson(include_properties: { only: %i(tracker_id status_id) }) if @issue),
                rotation: @project.map_rotation %>
  <% else %>
    <div class="flash nodata"><%= l(:gtt_hide_map_for_invalid_geom_info) %></div>
  <% end %>
<% end %>
